@{
    ViewData["Title"] = "Home Page";
}

<div id="willy-list" class="container">
    <div class="row">
        
    </div>
</div>

@section Scripts
{
    
    
    <script>
        /*
        
        function getLocation(selector) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError, { selector: selector });
            } else {
                return "Your location is required for the app to function.";
            }
        }


        function showPosition(position, selector) {

            $(selector).trigger("location-changed",
                { latitude: position.coords.latitude, longitude: position.coords.longitude });

            console.log("Latitude: " + position.coords.latitude +
                " Longitude: " + position.coords.longitude);
        }
        $("#willy-list").on("location-changed", function (event, position) {
            $("#willy-list").html("<p>" + position.latitude + " " + position.longitude);
        });
        getLocation("#willy-list");*/

    </script>
}
